/* styles.css */
.content {
    display: none;
}

.topheader {
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}

.topheader:hover {
    background-color: #ddd;
}
